<html>
<head>
  <title>Acme Shopping: Customers</title>
</head>
<body>
 
    <h1>Acme Shopping: Customer Details</h1>
    
    <p>Customer: 
       <b> {{customer[0]["id"]}}</b> |  
       {{customer[0]["name"]}} |
        {{ customer[0]["email"]}} |
       {{customer[0]['address']}}	
    </p>
  <p>Modify the method to also supply the customer's rows</p>
    <p>Details of rows for {{customer[0]["name"]}}:</p>

    {% for row in rows %}
    <p> 
      Order: <a href={{ url_for('order_details', id= row['id']) }}>{{row["id"]}}</a></b>  |  
       Ordered on: {{ row["created_at"] }} 
    </p>
    {% endfor %}
</body>
</html>