{% extends "base.html" %}
{% block content %}

    <h3>You name it, we might sell it</h3>
    <p>Look at the data in the other pages and fix errors as you find them</p>
    <p>This is an idea of how you might do a shopping site. All of the authentication/admin stuff is missing, 
      as are forms for entering orders and customer details. You just see what the orders are, and who ordered what.
    </p>

    <p>Supply a dashboard to show the number of orders, and the amount spent by customers.</p>
{% endblock %}